<?xml version="1.0" encoding="UTF-8"?>

<phpintegration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:noNamespaceSchemaLocation="http://schema.phpintegration.de/4.1/phpintegration.xsd"
                backupGlobals="false"
                colors="true"
                bootstrap="./bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="KERNEL_CLASS" value="Beeriously\Kernel" />
        <env name="APP_ENV" value="dev" />
        <env name="APP_DEBUG" value="1" />
    </php>
    <php>
        <server name="KERNEL_DIR" value="/application/src" />
    </php>
    <testsuites>
        <testsuite name="Beeriously Integration Test Suite">
            <directory>./../Integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory>./../../../vendor</directory>
            <directory>./../../../tests</directory>
        </blacklist>
        <whitelist>
            <directory>./../../../src</directory>
            <exclude>
                <directory>./../../../src/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpintegration>
